<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371566979225-sict85uoqaqh2lbmvq1eengr82e26vdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371566979225-sict85uoqaqh2lbmvq1eengr82e26vdj</string>
	<key>API_KEY</key>
	<string>AIzaSyA0JF-3MllyEH9BLUssJmpa4tJQMHPGDwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>371566979225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarigilcagdas.firebase</string>
	<key>PROJECT_ID</key>
	<string>egitim-6b098</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-6b098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371566979225:ios:6f461631b596bd29497008</string>
</dict>
</plist>